<html>

    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <meta name="description" content="Login - Register Template">
        <meta name="author" content="Lorenzo Angelino aka MrLolok">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/register.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
            body {
                background-color: #303641;
            }
        </style>
    </head>
    
    <body>
        
        <div id="container-register">
            <div id="title">
                <i class="material-icons lock">lock</i> Register
            </div>
    
            <form action="/register" method="post"> 
                <div class="input">
                    <div class="input-addon">
                        <i class="material-icons">email</i>
                    </div>
                    <input id="email" placeholder="Email" type="email" required class="validate" autocomplete="off" name="EMAIL">
                </div>
    
                <div class="clearfix"></div>
    
                <div class="input">
                    <div class="input-addon">
                        <i class="material-icons">face</i>
                    </div>
                    <input id="username" placeholder="Username" type="text" required class="validate" autocomplete="off" name="USERNAME">
                </div>
    
                <div class="clearfix"></div>
    
                <div class="input">
                    <div class="input-addon">
                        <i class="material-icons">vpn_key</i>
                    </div>
                    <input id="password" placeholder="Password" type="password" required class="validate" autocomplete="off" name="PASSWORD">
                </div>
    
                <div class="input">
                    <div class="input-addon">
                        <i class="material-icons">vpn_key</i>
                    </div>
                    <input id="password" placeholder=" Confirm Password" type="password" required class="validate" autocomplete="off" name="CONFIRMPASSWORD">
                </div>
    
    
                <div class="input">
                    <div class="input-addon">
                        <i class="material-icons">phone</i>
                    </div>
                    <input id="username" placeholder="Mobile" type="text" required class="validate" autocomplete="off" name="MOBILE">
                </div>
    
                <div class="input">
                    <div class="input-addon">
                        <i class="material-icons">cake</i>
                    </div>
                    <input id="username" placeholder="D.O.B" type="text" required class="validate" autocomplete="off" name="DOB">
                </div>
    
                <div class="input">
                    <div class="input-addon">
                        <i class="material-icons">house</i>
                    </div>
                    <input id="username" placeholder="Address" type="text" required class="validate" autocomplete="off" name="ADDRESS">
                </div>
    
    
    
    
            
                <br><br> <input type="submit" value="Register"/>
            </form>
        
    
          
    
            <div class="register" style="color: black;">
             <b>   Do you already have an account?
              <br>  <a href="/login"><button id="register-link">Log In here</button></a>
            </div>
        </div>
    </body>
    
    </html>